#root {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgb(211, 84, 0));
}

.main-logo {
  display: flex;
  margin-top: -5.5rem;
}
