nav {
  background-color: rgb(129, 52, 0);
  color: whitesmoke;
  font-size: 1.1rem;
  font-weight: bolder;
  padding: 0.5px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-right: 5rem;
}

nav ul li {
  list-style-type: none;
  margin-right: 1rem;
  border-right: 2px whitesmoke solid;
  padding-right: 1rem;
}

nav ul li:hover {
  color: rgb(255, 145, 0);
}

nav ul li:active {
  background-color: rgba(11, 45, 72, 0.25);
}
